:root{
    --border-color: rgba(48, 176, 31, 0.6);
    --card-box-shadow: -6px 7px 29px 0px rgba(37, 79, 79, 0.71);
}
/* Bootstrap's icon */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
/* Logo */
img[alt="Logo"] {
    width: 5rem;
}
/* outer layout */
body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 100vh auto;
    text-align: center;
}
/* nav, main, footer */
nav, main, footer {
    grid-column: 1 / -1;
}
/* Card */
.card {
    width: 18rem;
    box-shadow: var(--card-box-shadow);
    -webkit-box-shadow: var(--card-box-shadow);
    -moz-box-shadow: var(--card-box-shadow);
}
.card-img-top {
    width: 10rem;
    aspect-ratio: 3/2;
    object-fit: cover;
    padding-block: .3rem;
    text-align: center;
}
/* Contact page */
.form {
    width: 20rem;
} 
.form>* {
    margin-block: .3rem;
}
.form input:hover, .form textarea:hover{
    outline: 3px solid var(--border-color);
}
@media screen and (width < 900px) {
    .productListing >* {
        border-radius: 5%;
        border: 2px solid var(--border-color);
    }
}