/* Bootstrap's icon */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
/* Logo */
img[alt="Logo"] {
    width: 5rem;
}
/* outer layout */
body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr auto;
    text-align: center;
}
/* nav, main, footer */
nav, main, footer {
    grid-column: 1 / -1;
}
/* Card */
.card {
    width: 18rem;
}
.card-img-top {
    width: 10rem;
    aspect-ratio: 3/2;
    object-fit: cover;
    mix-blend-mode: color-burn;
    text-align: center;
}

@media screen and (width < 900px) {
    .productListing >* {
        border-radius: 5%;
        border: 2px solid green;
    }
}